.button {
  width: 90px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: white;
  color: green;
  opacity: 1;

}

.pull-right {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.button-white {
  background-color: white;
}

.button-see-thru {
  opacity: 0.5;
}

.headline {
  background-color: #04DF4F;
  width: 100%;
}
html, body {
  margin:0;
  padding: 0;
}

.headline h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding: 80px 0px;
  margin: 0;
  font-family: sans-serif;
}

.nav-container {
  background-color: white;
  border: 1px solid lightgrey;
}

.nav-list {
  margin: 0 auto;
  text-align: center;
}

.nav-list li {
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
  margin: auto -2px;
}

.nav-list li:first-child {
  border-left: 1px solid lightgrey;
}

.nav-list li:hover {
  border-bottom: 5px solid green;
}

.section-container {
  display:inline-block;
  border: 1px solid lightgrey;
  margin-top:25px;
  border-radius: 5px;
}

main section:last-child {
  height: 424.438px;
  width: 310px;
  position: absolute;
  margin: 25px 4px;
  text-align: center;
  background-color: #04DF4F;
}

main section div {
  position: absolute;
  top: 25%;
  left: 22%;
}

main section header {
  margin-left: 5px;
}

.white-font {
  color: white;
}
